# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY = replace_me

# django-fernet-encrypted-fields derives encryption keys
# from Django SECRET_KEY + SALT_KEY
SALT_KEY=replace_me

# SECURITY WARNING: don't run with debug turned on in production!
DEBUG = True
ALLOWED_HOSTS = localhost,127.0.0.1

# Secure session / cookie settings
SESSION_COOKIE_HTTPONLY=True
SECURE_BROWSER_XSS_FILTER=True
SECURE_CONTENT_TYPE_NOSNIFF=True

# Email backend for dev (not currently used, but set up for future use)
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend