# Python
**__pycache__/
*.pyc
*.pyo
*.py[cod]

# Django
db.sqlite3

# Pytest
.pytest_cache/

# Virtual environment
sn_env/
venv/
.env
!.env.example # Keep the example env file in version control, but ignore the actual .env with secrets

# IDEs
.vscode/

# OS
.DS_Store