# Python
**__pycache__/
*.pyc
*.pyo
*.py[cod]

# Django
db.sqlite3
/staticfiles/
/media/

# Pytest
.pytest_cache/

# Virtual environment
sn_env/
venv/

# Environment configuration
.env
!.env.example

# IDEs
.vscode/

# OS
.DS_Storestaticfiles/
