{% load i18n %}
<!doctype html>
<html lang="en">
<body>
  <p>{% translate "You requested a password reset for your Secure Notes account." %}</p>

  <p>
    <a href="{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}">
      {% translate "Reset your password" %}
    </a>
  </p>

  <p>{% translate "This link expires in 15 minutes." %}</p>
  <p>{% translate "If you didn't request this, you can ignore this email." %}</p>
  <p>{% translate "The Secure Notes team" %}</p>
</body>
</html>