{% extends "secure_notes/base.html" %}
{% load django_bootstrap5 %}

{% block page_header %}
    <h2>Password Change Successful</h2>
    <hr>
{% endblock page_header %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
            <div class="col-sm-12 col-md-10 col-lg-8">
                <div class="card shadow-sm mb-3">
                    <div class="card-body">
                        <div class="alert alert-success">
                            <h4>Your password has been updated successfully!</h4>
                            <p>Future sign-ins will now require your new password.</p>

                        </div>
                        <hr class="mb-4">
                        <a href="{% url 'secure_notes:dashboard' %}" class="btn btn-primary">Back to Dashboard</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}