{% extends "secure_notes/base.html" %}

{% block page_header %}
  <h2 class="h2">Invalid verification link</h2>
  <hr>
{% endblock page_header %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-10 col-lg-8">
        <div class="card shadow-sm mb-3">
          <div class="card-body">
            <div class="alert alert-danger" role="alert">
              <h3 class="h5 alert-heading">Verification unsuccessful</h3>
              <p class="mb-0">
              This verification link is invalid or can no longer be used.
              Please request a new verification email.
            </p>
            <p class="text-body-secondary small mt-3 mb-0">
            If an unverified account exists for this email address,
            we'll send a new verification link.
            </p>
            </div>
            <strong>Info:</strong> Please enter your email address below, and we will send you a link to reverify.
            <hr class="mb-4">
                <form method="post" action="{% url 'accounts:request_verification' %}">
                {% csrf_token %}

                <label for="email">Email address</label>
                <input
                    type="email"
                    name="email"
                    id="email"
                    required
                >
                <div class="mt-3">
                <button type="submit" class="btn btn-primary">Send verification email
                </button>
              </div>
              </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}