{% extends "secure_notes/base.html" %}
{% load django_bootstrap5 %}

{% block page_header %}
    <h2>Create a New Note</h2>
{% endblock page_header %}

{% block content %}

<p class="card-text">Enter the title and content for your new note below. Save when you're done.</p>   

<div class="card mb-3 p-4 bg-light rounded">
    <div class="card-body">
        <form action="{% url 'secure_notes:create_note' %}" method="post">
            {% csrf_token %}
        
            {% if form.errors %}
                <div class="alert alert-warning" role="alert">
                    Please correct the errors below.
                </div>
            {% endif %}

            {% bootstrap_form form %}
            {% bootstrap_button button_type="submit" content="Add Note" %}
            {% bootstrap_button button_type="reset" content="Reset" %}
            <a href="{% url 'secure_notes:notes' %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>
{% endblock content %}