{% extends "secure_notes/base.html" %}
{% load django_bootstrap5 %}

{% block page_header %}
    <h2>Edit Note "{{ note.title }}"</h2>
{% endblock page_header %}

{% block content %}

<p class="card-text">Edit the content of your note below. Save when your done.</p>

<div class="card mb-3">
        <div class="card-body">
        <form action="{% url 'secure_notes:edit_note' note.id %}" method="post">
            {% csrf_token %}

            {% if form.errors %}
                <div class="alert alert-warning" role="alert">
                    Please correct the errors below.
                </div>
            {% endif %}

            {% bootstrap_form form %}
            {% bootstrap_button button_type="submit" button_class="btn btn-primary" content="Save Changes" %}
            <a href="{% url 'secure_notes:note_detail' note.id %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>


{% endblock content %}