{% extends "secure_notes/base.html" %}

{% block page_header %}
    <h2>Your Notes</h2>
{% endblock page_header %}

{% block content %}



<p><a href="{% url 'secure_notes:create_note' %}" class="btn btn-primary">Add a new note</a>
</p>
<div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 mb-5">
{% for note in notes %}
<div class="col">
    <div class="card note-card h-100 p-4 shadow-sm">
        <a href="{% url 'secure_notes:note_detail' note.id %}" class="stretched-link"></a>
    <!-- Card header with timestamp and edit link-->
     <div class="card-header d-flex justify-content-between align-items-center">
         <span>
            <i class="bi bi-calendar3 me-2 text-primary"></i>
             {{ note.created_at|date:"M j, Y, g:i a" }}
         </span>
            <a href="{% url 'secure_notes:edit_note' note.id %}" 
            class="btn btn-sm btn-light border position-relative z-2">
            <i class="bi bi-pencil-fill"></i>
            </a>
        </small>
     </div>
    <!-- Card body with note content -->
    <div class="card-body">
        <h4 class="card-title">{{ note.title }}</h4>
        <p class="note-preview">{{ note.content|linebreaksbr }}</p>
        <p class="card-text"><small class="text-muted">Last updated: {{ note.updated_at|date:"F j, Y, g:i a" }}</small></p>
    </div>
</div>
</div>
{% empty %}
<div class="alert alert-info" role="alert">
    No notes have been added yet. <a href="{% url 'secure_notes:create_note' %}" class="alert-link">Add your first note</a>
</div>
{% endfor %}
</div>
</div>

{% endblock content %}
